<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Main page</title>
    <meta charset="UTF-8" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="container">
    <h1>Calorizer Home</h1>
    <a href="http://localhost:8080">Go front</a>
    <div th:each="product: ${products}">
        <h1 th:text="${product.product_title}"></h1>
        <p th:text="${product.product_description}"></p>
        <p th:text="${product.creation}"></p>
        <p th:text="${product.updated}"></p>
        <ul th:each="nutrition : ${product.getNutritiousWeightMap()}">
            <li>
                <span th:text="${nutrition.key.nutrition_name}"></span>
                <span th:text="${nutrition.value}"></span>
            </li>
        </ul>
    </div>

</div>
</body>
</html>
